@primary-color: #52c41a;

#components-layout .header{
  padding-left:0px;
  background: #389e0d !important;
  height: 50px !important;
}
#components-layout .logo {
 
  float: left;
  font-weight: bold;
  font-size: 20px;
  color:#fff;
  padding-left:15px;
  height: 100%;
}

#components-layout  .btn-collape-sidebar{
  float: left;
  margin-bottom: 0px;
  height: 100%;
  float:left;
  margin-bottom: 16;
  // width: 80px;
}

#components-layout .btn-collape-sidebar{
  border-radius: 0px;
}

.main-content{
  background :#fff;
  padding: 24px;
  margin: 0px;
  min-height: 280px;
}

#head-home-page {
  margin: 50px;
    width: 700px;
    font-size: 50px;
    color: #bdbdbd;
    margin-left: auto;
    margin-right: auto;
}

.ant-advanced-search-form {
  // padding: 24px !important;
  // background: #fbfbfb;
  // border: 1px solid #d9d9d9;
  // border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.login-form {
  width: 300px;
  margin:50px auto 0px auto !important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}